<p>Please sign in or sign up with one of the methods below: </p>
<p><%= link_to 'Sign in', new_session_path %> or <%= link_to 'Sign up', new_traveler_path %></p>
<p>Github: <%= link_to 'Sign in', '/auth/github', method: :post %> or <%= link_to 'Sign up','https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home' %></p>

<%= session[:trav_params] %>
<br>
